@(form: Form[String], headers: Seq[Home.Header])
@tabs("Headers") {
    <h1>Hey</h1>
    <form method="get" action="@routes.Home.headers()">
        @bs.basicTextInput(form(Home.URL), "URL", "www.google.com")
        @bs.basicButton()
    </form>
    @if(headers.nonEmpty) {
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr><th class="col-md-4">Key</th><th>Value</th></tr>
            </thead>
            <tbody>
            @headers.map { header =>
                <tr><td>@header.key</td><td>@header.value</td></tr>
            }
            </tbody>
        </table>
    }
}
